/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

$color-red-error: rgb(185, 74, 72) !default;
$color-green-success: #28a745;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

$input-color-placeholder: #999 !default;
$input-alt-color-placeholder: rgba(255, 255, 255, 0.5) !default;

$input-padding-y-sm: .25rem !default;
$input-padding-x-sm: .5rem !default;

$input-padding-y-lg: 0.5rem !default;
$input-padding-x-lg: 1rem !default;

$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1232px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1232px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

$white:    #fff !default;
$gray: #4d4d4d !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$primary: #00396c !default;
$primary-dark: #002545 !default;
$primary-light: #00539b !default;
$secondary: #f59d1f !default;
$secondary-light: #ffb93f !default;
$secondary-dark: #e79007 !default;
$dark: #061922 !default;
$light: #f7f1e8 !default; 
$text-muted: #999 !default;
$faded: #585e64 !default;
$sw-element-border-size: 2px !default;
$sw-card-bg: #69757a !default;
$sw-card-inactive: #e6e8e9 !default;
$border-hover-color: rgba(245, 157, 31, 0.6) !default;
$transparent: rgba(0, 0, 0, 0) !default;

$grid-columns:                48 !default;
$grid-gutter-width:           0 !default;

$icomoon-font-family : "ama" !default;
$icomoon-font-path : '../fonts' !default;

// Cards

$gradient-side-nav: linear-gradient(240deg, rgba(141, 39, 142, 1) 0%, rgba(245, 157, 31, 1) 100%);
$gradient-get-in-touch: linear-gradient(135deg, rgba(141, 39, 142, 1) 32%, rgba(245, 157, 31, 1) 100%);
$gradient-text-feature-h2: linear-gradient(135deg, rgba(141, 39, 142, 1) 32%, rgba(245, 157, 31, 1) 100%);
$gradient-hero-image-overlay: linear-gradient(-90deg, rgba(245, 157, 31, .8) 0%, rgba(141, 39, 142, 0.7) 0%, rgba(3, 3, 239, 0) 26%);
$gradient-rollover-full: linear-gradient(-30deg, rgba(141,39,142,.75) 0%,rgba(245,157,31,.75) 100%);
$gradient-rollover-half: linear-gradient(-30deg, rgba(141,39,142,.75) 0%,rgba(245,157,31,.75) 100%);


$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
// $card-border-width:                 $border-width !default;
// $card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
// $card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-bg:                           $white !default;

$card-img-overlay-padding:          1.25rem !default;

$card-group-margin:                 ($grid-gutter-width / 2) !default;
$card-deck-margin:                  $card-group-margin !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y !default;

$arimo-family: 'Arimo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,  Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$ama-font-family: $arimo-family;
$font-family-sans-serif:    $ama-font-family;
$headings-font-family:      $ama-font-family;




$font-size-base: 1rem !default;
$font-weight-normal:          300 !default;

$border-radius: 0 !default;

$input-btn-padding-y:         1rem !default;
$input-btn-padding-x:         2rem !default;
$input-btn-line-height:       1.5 !default;

$input-btn-focus-width:       .125rem !default;

$input-btn-padding-y-sm:      $input-btn-padding-y !default;
$input-btn-padding-x-sm:      $input-btn-padding-x !default;
$input-btn-line-height-sm:    $input-btn-line-height !default;

$input-btn-padding-y-lg:      $input-btn-padding-y !default;
$input-btn-padding-x-lg:      $input-btn-padding-x !default;
$input-btn-line-height-lg:    $input-btn-line-height !default;

$input-btn-border-width:      $sw-element-border-size !default;

$input-height-border:                   $sw-element-border-size !default;

$input-height-inner:                    ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm:                 $input-height-inner !default;
$input-height-sm:                       $input-height !default;

$input-height-inner-lg:                 $input-height-inner !default;
$input-height-lg:                       $input-height !default;

$navbar-dark-color:                 rgba($white, 1) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-light-color:                rgba(#4d4d4d, 1) !default;

$headings-font-weight:        700 !default;
$headings-color:              $primary;

$h2-font-size: 1.9rem;

// Mixins
@mixin cursor-disabled() {
  cursor: not-allowed;
}

@mixin box-sizing($fmt) {
  -webkit-box-sizing: $fmt;
     -moz-box-sizing: $fmt;
          box-sizing: $fmt;
}

@mixin box-shadow($fmt) {
  -webkit-box-shadow: $fmt;
          box-shadow: $fmt;
}

@function fade($color, $amnt) {
  @if $amnt > 1 {
    $amnt: $amnt / 100; // convert to percentage if int
  }
  @return rgba($color, $amnt);
}
