@import "./src/scss/_animations.scss";
@import "./src/scss/_theme.scss";
@import "./src/scss/_cards.scss";
@import "./src/scss/_apartments.scss";
@import "./src/assets/_include-media.scss";
@import "./node_modules/_includes.scss";

#loadedSearchApp {

  .navbar {
    padding: 0;
    .nav-item {
      cursor: pointer;
    }
  }

  #sortingOptions {
    width: 20rem !important;
    margin-left: auto;
    display: block;
    .vs__dropdown-toggle {
      border: 0;
      font-size: 1rem;
      background: none !important;
      cursor: pointer !important;
    }
    .vs__search {
      cursor: pointer !important;
    }
  }


  h1 {
    @include mdc-typography(headline1);
    margin-top: 0;
    font-weight: 500;
  }

  h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 2.875rem;
  }

  h3 {
    @include mdc-typography(headline3);
    margin-top: 0;
    font-weight: 500;
  }

  h4 {
    @include mdc-typography(headline4);
    margin-top: 0;
    font-weight: 500;
  }

  h5 {
    @include mdc-typography(headline5);
    margin-top: 0;
    font-weight: 500;
  }

  h6 {
    @include mdc-typography(headline6);
    margin-top: 0;
    font-weight: 500;
  }

  // This sets all <p> elements with Material body1 typography styles
  p {
    @include mdc-typography(body1);
    margin-top: 0;
  }

}
