.flip-list-move {
  transition: transform 1s;
}

#memberBenefitsApp {
  .list-move {
    transition: transform 1s;
  }
  .list {
    transition: transform 1s;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    // transform: translateY(30px);
  }
}
