:root {
  --mdc-theme-primary: #4caf50 !important;
  --mdc-theme-secondary: #f0d5af !important;
}

body, html {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-track {
  //  box-shadow: $scrollbar-track-shadow;
  background-color: rgba(scale-color($primary, $lightness: -7%), 0.5);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: $primary-dark;
}

body::-webkit-scrollbar-thumb {
  background-color: $secondary;
}

#memberBenefitsApp,
#root,
body {
  background: #fafafa;
  text-align: center;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;

  span.input-group-text {
    padding: 0px 18px;
    height: 58px !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  input.form-control {
    border-bottom: 2px solid #ced4da;
    border-top: 2px solid #ced4da;
    border-right: 2px solid #ced4da;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn {
    font-weight: 400 !important;
  }
  .router-link-exact-active {
    color: #42b952;
  }
}
