<template>
  <div id="memberBenefitsApp" class="wrapper wrapper-member-benefits">
    <div class="container py-4">
      <div class="row">
        <div class="col">
          <input type="text" v-model="searchText" class="mb-3 mr-2 d-inline-block" />
          <button @click="shuffle" class="mb-3 d-inline-block"> Shuffle </button>
        </div>
      </div>
        <transition-group id="dealList" name="list" mode="out-in" appear tag="div" class="row">
          <template v-for="discount in filteredDiscounts">
              <div class="col-48 col-md-16 col-xl-12 mb-1" :key="discount.id">
                <div class="wrapper card-wrapper p-2">
                <div class="card">
                  <img class="card-img-top img-fluid" :src="discount.image" :alt="discount.title">
                  <div class="card-header pt-2 pb-0">
                    <h6 class="card-title mb-0"> {{ discount.title }} </h6>
                  </div>
                  <div class="card-body px-3 pt-2 pb-2">
                    <p class="card-text mb-2"><small> {{ discount.categories|stringifyCategories }} </small></p>
                    <p class="card-text mb-0"> {{ discount.discount }} </p>
                  </div>
                  <div class="card-footer px-3 pt-0">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-secondary btn-sm">Button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </transition-group>

    </div>
  </div>
</template>

<script>
const _ = require("lodash");
const axios = require("axios");

export default {
  name: "Home",
  components: {
    // none
  },
  data: function() {
    return {
      listingCount: 0,
      showAll: false,
      searchText: ""
    };
  },
  computed: {
    filteredDiscounts() {
      var self = this;
      var currentSearch = this.searchText;
      // return discounts, after filtering
      return self.$root.$data.discounts.filter(discount => {
        // filter by lowercase title match of searchText
        return discount.title.toLowerCase().includes(currentSearch.toLowerCase());
      });
    }
  },
  methods: {
    shuffle() {
      this.$root.$data.discounts = _.shuffle(this.$root.$data.discounts)
    }
  },
  filters: {
    stringifyCategories(val) {
      let returnText = "";
      if (typeof val !== "undefined" && val !== null && typeof val === 'object' && val.length > 0 ) {
        returnText += 'Category: ';
        val.forEach(function(item, index) {
          if ( index === val.length - 1 ) {
           returnText += item;
          } else {
            returnText += item + ', ';
          }
        });
      }
      return returnText;
    }
  },
  mounted() {
    console.log("page loaded");
    setTimeout(() => {
      this.message = "Ok stuff has loaded! ⛵🦐 🏝️🌄🏝️ 🐳🌊";
    }, 3000);
  }
};
</script>

<style lang="scss">

</style>
