<template>
  <div id="memberBenefitsApp" class="wrapper wrapper-member-benefits py-4">
    <div class="container">
      <transition-group
        id="catList"
        name="list"
        mode="out-in"
        appear
        tag="div"
        class="w-100 row internal-gutters horizontal-icon-row d-flex mb-4"
      >
        <template v-for="discountCategory in $root.$data.discountCategories">
          <div 
            class="col-24 col-xl-12 half-gutters mb-3" 
            :key="discountCategory.id" 
            v-on:click="searchCat = discountCategory.id" 
            :data-category-id="discountCategory.id"
          >
            <div class="p-3 h-100 rounded bg-primary d-flex flex-column justify-content-center align-items-center icon-horizontal memberBtn btn">
              <img :src="discountCategory.acf.image.url" :alt="discountCategory.name|decodeHTMLEntities">
              <p class="text-white text-center"> {{ discountCategory.name|decodeHTMLEntities }} </p>
            </div>
          </div>
        </template>
      </transition-group>
    </div>

  <div class="container">
    <transition-group 
      id="dealList" 
      name="list" 
      tag="div" 
      class="w-100 row internal-gutters"
    >
      <template v-for="discount in categoryFilteredDiscounts">
        <div class="col-48 col-md-16 col-xl-12 mb-1" :key="discount.id">
          <div class="wrapper card-wrapper p-2">
            <a class="card" :href="discount.pemalink" target="_blank">
              <div class="card-header pt-4 pb-0">
                <h6 class="card-title mb-0"> {{ discount.title|decodeHTMLEntities }} </h6>
              </div>
              <div class="card-body px-3 pt-0 pb-2">
                <p class="card-text mb-2">
                  <small> {{ discount.categories|stringifyCategories($root.$data.discountCategories) }} </small>
                </p>
                <p class="card-text card-text-main mb-2"> {{ discount.discount|decodeHTMLEntities }} </p>
              </div>
              <div class="card-footer px-3 pt-0 pb-0">
                <img class="card-img-bot img-fluid" :src="discount.image" :alt="discount.title|decodeHTMLEntities">
              </div>
            </a>
          </div>
        </div>
      </template>
    </transition-group>
  </div>

  </div>
</template>

<script>
const _ = require("lodash");
const axios = require("axios");
const entities = require("entities");

export default {
  name: "SingleMemberBenefits",
  components: {
    // none
  },
  data: function() {
    return {
      searchCat: "all"
    };
  },
  computed: {
    categoryFilteredDiscounts() {
      var self = this;
      var currentSearchCat = this.searchCat;
      if ( currentSearchCat === 'all' ) {
        return self.$root.$data.discounts;
      }
      // return discounts, after filtering
      return self.$root.$data.discounts.filter(discount => {
        // filter by basic search of Category IDs
        return discount.categories.includes(currentSearchCat);
      });
    }
  },
  methods: {
    shuffle() {
      this.$root.$data.discounts = _.shuffle(this.$root.$data.discounts)
    }
  },
  filters: {
    decodeHTMLEntities(val) {
      return entities.decodeHTML(val);
    },
    stringifyCategories(val, discountArray) {
      let returnText = "";
      if (typeof val !== "undefined" && val !== null && typeof val === 'object' && val.length > 0 ) {
        val.forEach(function(item, index) {
          _.forEach(discountArray, function(value, key) {
            if ( value.id === item ) {
              if ( index === val.length - 1 ) {
                returnText += entities.decodeHTML(value.name);
              } else {
                returnText += entities.decodeHTML(value.name) + ', ';
              }
            }
          });
        });
      }
      return returnText;
    }
  },
  mounted() {
    setTimeout(function() {
      console.log(" Everything Loaded!  ⛵🦐 🏝️🌄🏝️ 🐳🌊 ");
    }, 1000);
  }
};
</script>

<style lang="scss">
#catList {
  .btn {
    cursor: pointer;
  }
}
#dealList {
  .card-header {
    border-top: 4px solid #00396c;
  }
  .card {
    .card.title {
      font-size: 1rem;
      font-weight: 400;
    }
    .card-text {
      &.card-text-main {
        min-height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        font-size: 1.025rem;
        color: #00396b;
      }
    }
  }
}
</style>
