<template>
  <div id="loadedSearchApp">
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav">
        <router-link tag="li" class="nav-item nav-link" to="/">home</router-link>
        <router-link tag="li" class="nav-item nav-link" to="/single-member-benefits">single-member-benefits</router-link>
        <router-link tag="li" class="nav-item nav-link" to="/apartments">apartments</router-link>
        <router-link tag="li" class="nav-item nav-link" to="/apartment-search-box">apartment-search-box</router-link>
      </ul>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
const axios = require( "axios" );
export default {
  mounted() {
    axios.get( this.$root.$data.apiEndpointApartments + `wp-json/acf/v3/developments` )
      .then( ( response ) => {
        _.forEach( response.data, item => {
          this.$root.$data.developments.push( {
            label: item.acf.short_name,
            code: item.acf.rex_building_id
          } );
        } );
      } )
      .catch( ( error ) => {
        console.log( error );
    } );
    axios.get( this.$root.$data.apiEndpointApartments + `apartment-data/?token=3b834b2889800d9e&format=array` )
      .then( ( res ) => {
        this.$root.$data.listings = _.shuffle( res.data );
      } )
      .catch( ( error ) => {
        console.log( error );
    } );
    axios.get( this.$root.$data.apiEndpointDiscounts + `discounts/?token=3b834b2889800d9e` )
      .then( ( res ) => {
        console.log( { 
          apiResult: res, 
          apiEndpoint: this.$root.$data.apiEndpointDiscounts + `discounts/?token=3b834b2889800d9e`, 
          shuffledDiscounts: _.shuffle( res.data ) 
        } );
        this.$root.$data.discounts = _.shuffle( res.data );
      } )
      .catch( ( error ) => {
        console.log( error );
    } );
    axios.get( this.$root.$data.apiEndpointDiscounts + `wp-json/wp/v2/discount_category` )
      .then( ( res ) => {
        console.log( { 
          apiResult: res, 
          apiEndpoint: this.$root.$data.apiEndpointDiscounts + `wp-json/wp/v2/discount_category`, 
          categoriesData: _.shuffle( res.data ) 
        } );
        this.$root.$data.discountCategories = res.data
      } )
      .catch( ( error ) => {
        console.log( error );
    } );

  }
}
</script>

<style lang="scss">
  @import "../_variables.scss";
  @import "../theme.scss";
</style>
