.flip-list-move {
  transition: transform 1s;
}

#memberBenefitsApp {
  .flip-list-move {
    transition: transform 1s;
  }
  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
}
