#memberBenefitsApp {
 --mdc-theme-primary: #4caf50;
 --mdc-theme-secondary: #f0d5af;
 background: #fafafa;
 min-height: 100vh;

 .card {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s !important;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  will-change: box-shadow, border-color;

  &:hover {
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   border-color: rgba(0, 0, 0, 0.14);
  }

  .card-text {
   margin-bottom: 0.125rem;
   margin-top: 0;
   color: rgba(0, 0, 0, 0.65);
   transition: all 0.3s !important;
   font-size: 0.875rem;
   line-height: 1.25;
   font-weight: 500;

   &:last-of-type {
    margin-bottom: 0.25rem;
   }
  }

  .card-img-top,
  .card-img-bot {
   background: #fff;
   padding: 8px;
   height: 100%;
   width: 100%;
   max-height: 128px;
   min-height: 128px;
   object-fit: contain;
   object-position: center;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   transition: all 0.3s !important;
  }

  .card-text-main {
    min-height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .card-header {
   min-height: 82px;
   display: flex;
   flex-flow:column wrap;
   align-items: center;
   justify-content: center;
   background: #fff;

   h6 {
    line-height: 1.25;
   }
  }

  .card-title {
   margin-top: 0;
   color: rgba(#0e1a3a, 0.95);
   transition: all 0.3s !important;
  }

  .card-body {
    border-radius: 0;
    background: #fff;
    min-height: 82px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;

   small {
    font-weight: 500;
   }
  }

  .card-footer {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   background: none;
   border-top: 1px solid rgba(168, 168, 168, 0.08);
   padding-bottom: 1rem;
   transition: all 0.3s !important;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
  }
 }

 span.input-group-text {
  padding: 0px 18px;
  height: 58px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
 }

 input.form-control {
  border-bottom: 2px solid #ced4da;
  border-top: 2px solid #ced4da;
  border-right: 2px solid #ced4da;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
 }

 .btn-outline-primary {
  background: #e8ebee;
  color: $dark !important;
  font-weight: 600 !important;
 }

 .discount-categories {
  font-size: 0.725rem;
  font-weight: 700;
  display: inline-block;
 }

 .btn-filter-category {
  -webkit-appearance: none;
  box-shadow: none !important;
 }
}

#apartmentList {
 .card-title {
  font-size: 1rem;
  font-weight: 600;
 }

 .card-footer {
  >img {
   width: 100%;
   max-width: 100%;
   height: 110px;
   object-fit: contain;
   object-position: center;
  }
 }

 .mdc-card {
  box-sizing: content-box;
  width: calc(25% - 14px);
  margin: 0 6px;
  display: inline-flex;

  .mdc-card__actions {
   background: #fbfbfb;
   border-top: 1px solid rgb(236, 236, 235);
  }

  .mdc-card__media--square {
   &::before {
    margin-top: 136px !important;
   }

   img {
    height: 100%;
    object-fit: contain;
    object-position: center;
    padding: 28px 16px 4px 16px;
    width: 100%;
   }
  }

  .mdc-card__primary-action::before,
  .mdc-card__primary-action::after {
   background-color: rgba(0, 0, 0, 0.12);
  }

  // .mdc-card__primary-action:hover::before,
  // .mdc-card__primary-action:hover::after {
  //  opacity: 0.02;
  // }
  // .mdc-card__primary-action:active::before,
  // .mdc-card__primary-action:active::after {
  //  opacity: 0.04;
  // }
  // .mdc-card__primary-action:focus::before,
  // .mdc-card__primary-action:focus::after {
  //  opacity: 0.01;
  // }
  .card-header {
   margin-bottom: 0;
   display: flex;
   align-content: center;
   justify-content: center;
   min-height: 84px;
   align-items: center;
   background: #fff;
   border-bottom: 1px solid rgb(236, 236, 235);

   .card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    vertical-align: middle;
    display: block;
    margin: auto;
   }

   .card-subtitle {
    margin-bottom: 0.3125rem;
   }
  }

  .card-body {
   background: #f6f6f7;
   margin-bottom: 0;
   display: flex;
   align-content: center;
   justify-content: center;
   padding: .75rem;
   min-height: 59px;
   align-items: center;

   .card-title {
    font-size: 0.75rem;
    font-weight: 500;
    font-style: italic;
    margin: 0 auto;
    display: block;
    font-family: Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   }
  }

  .mdc-icon-button {
   width: 40px;
   height: 40px;
   padding: 8px;
   font-size: 20px;
  }
 }
}
